<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="\static\styles.css" />
		<title>Home</title>
	</head>
	<body>
		<form action="">
			<div class="card">
				<div class="card-input">
					<input type="url" />
				</div>
				<div class="card-submit">
					<input type="submit" value="Submit" />
				</div>
			</div>
		</form>
		<script src="../static/main.js"></script>
	</body>
</html>
